/*  */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/*  */

@media only screen and (max-width: 992px) {
  .pencil {
    bottom: unset !important;
  }
}

@media only screen and (max-width: 600px) {
  .seperator {
    position: absolute !important;
    top: -7vh !important;
    left: 10vw !important;
    width: 280px;
  }
}

@media only screen and (max-width: 360px) {
  .seperator {
    /* position: "absolute" !important; */
    top: -4vh !important;
    left: 6vw !important;
    width: 240px;
  }
}
@media only screen and (max-width: 1150px) {
  .glasses {
    width: 200px;
  }
}
@media only screen and (max-width: 780px) {
  .glasses {
    width: 150px;
  }
}

.nav-item:hover {
  transform: translate(0, -5px);
}

@media (min-width: 992px) {
  .logoBrand {
    height: 70px !important;
  }
}
