/*  */
/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */
/*  */

@media only screen and (max-width: 992px) {
  .pencil {
    bottom: unset !important;
    margin-top: 5px;
  }
}

@media only screen and (max-width: 600px) {
  .seperator {
    position: absolute !important;
    top: -46px !important;
    left: 10vw !important;
    width: 280px;
  }
}

@media only screen and (max-width: 560px) {
  .pencil-container {
    height: 350px;
  }
}
@media only screen and (max-width: 360px) {
  .smallbluething .seperator {
    /* position: "absolute" !important; */
    top: -26px !important;
    left: 6vw !important;
    width: 240px;
  }
}
@media only screen and (max-width: 1150px) {
  .glasses {
    width: 200px;
  }
}
@media only screen and (max-width: 780px) {
  .glasses {
    width: 150px;
  }
}

.nav-item:hover {
  transform: translate(0, -5px);
}

@media (min-width: 992px) {
  .logoBrand {
    height: 70px !important;
  }
}

/* Header Dark Mode */

[data-bs-theme="light"] .landingHeader {
  background-color: var(--offWhite-color);
}
[data-bs-theme="dark"] .landingHeader {
  background-color: #20242d;
}

[data-bs-theme="dark"] .logoBrand {
  background: #eee;
  border-radius: 30px 20px;
  padding: 5px 20px;
  box-sizing: content-box;
}
[data-bs-theme="dark"] .icons {
  background: #eee;
  border-radius: 30px 20px;
  padding: 15px 35px;
  box-sizing: content-box;
}

[data-bs-theme="light"] .smallbluething {
  background-color: var(--main-color);
}

[data-bs-theme="dark"] .smallbluething {
  background-color: #363b56;
}

[data-bs-theme="light"] .smallpurplething {
  background-color: var(--main-color);
}

[data-bs-theme="dark"] .smallpurplething {
  background-color: #363b56;
}

[data-bs-theme="light"] .bgGradiant {
  background: linear-gradient(0deg, var(--sec-color), transparent);
}
[data-bs-theme="dark"] .bgGradiant {
  background: linear-gradient(180deg, var(--main-color), var(--sec-color));
}

[data-bs-theme="dark"] .bgGradiant2 {
  background: linear-gradient(0deg, #363b56, transparent) !important;
}
[data-bs-theme="dark"] .bgGradiant3 {
  background: linear-gradient(180deg, #363b56, transparent) !important;
}
/* 
[lang="en"] .pwaBtn {
  width: fit-content;
  padding-right: 1rem !important;
}
[lang="ar"] .pwaBtn {
  width: fit-content;
  padding-right: 1rem !important;
} */

/*  */

/* Extra small devices (phones, 600px and down) */
[data-bs-theme="dark"] .iconDark {
  background: #eee;
  padding: 5px;
  border-radius: 10px 5px;
}
