/* Navbar Dark logo */

[data-bs-theme="dark"] .logo {
  background-color: #eee;
  border-radius: 20px 50px;
}

/* Post Style */

/* .card {
  background-color: #eee !important  ;
} */

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow-clip-margin: unset;
}

.avatar {
  height: 3rem;
  width: 3rem;
  position: relative;
  display: inline-block;
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
  margin-top: 10px;
  overflow-clip-margin: unset;
}
.avatar-xs {
  height: 2.1875rem;
  width: 2.1875rem;
  overflow-clip-margin: unset;
}

.card .nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: gray;
  background: none;
  border: 0;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.nav-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  gap: 0.7rem;
}

.card .liked {
  color: var(--bs-primary);
}

.card a {
  color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
  text-decoration: none;
}

.card p,
.card small {
  font-weight: 400;
  color: gray;
}

.card [data-autoresize] {
  resize: none;
}
.card .nav-item:hover {
  transform: unset;
}

/* ================================== */

/* Aside Canvis */

.listItem:hover {
  color: var(--pink-color) !important;
}
.linkList:hover {
  /* color: var(--main-color) !important; */
  opacity: 0.8;
  margin-left: 5px;
}

/*  */

.accordion-button:not(.collapsed) {
  background-color: var(--gray-color);
  color: var();
}

.accordion-item {
  background-color: unset !important;
  margin-block: 20px;
}
/*  */

.notifications .nav-pills .nav-link.active,
.nav-pills .show > .notifications .nav-link {
  background-color: #363b56 !important;
}

.notifications .nav-link {
  color: var(--text-main-color);
}

/*  */

.courses.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--text-main-color);
}

.courses .nav-link {
  color: var(--sec-color);
  /* width: 150px; */
}

.courses .nav-item:hover {
  transform: translate(0, -1px);
}
