.hoverOne:hover {
  transform: translate(5px, 5px);
}

.hoverTwo:hover {
  transform: translate(0, -5px);
}
.regbtn:disabled {
  background-color: #20242d !important;
}
.mainColor {
  background-color: var(--main-color) !important;
  color: var(--offWhite-color) !important;
}
.mainColor:hover {
  background-color: var(--pink-color) !important;
  color: black !important;
}

.txtColor {
  color: var(--text-main-color) !important;
}

.noTransition {
  transition: all 0s !important;
}
[data-bs-theme="dark"] .iconDark {
  background: #eee;
  padding: 5px;
  border-radius: 5px 10px;
}
