@font-face {
  font-family: "Arial Rounded MT"; /* Replace with your font name */
  src: url("./fonts/ARLRDBD.TTF") format("truetype"); /* Adjust file name and format */
  /*font-weight: normal;*/ /* Optional: specify font weight */
}

* {
  transition: all 0.5s !important;
}

body {
  font-family: "Arial Rounded MT" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-bs-theme="light"] {
  --main-color: #363b56;
  --text-main-color: #363b56;
  --sec-color: #97add9;
  --pink-color: #f2969c;
  --offWhite-color: #e2e1db;
  --gray-color: #e3e2dc;
}
/* --bs-body-bg */
/* bg-body-tertiary */

[data-bs-theme="dark"] {
  --main-color: #20242d; /* Darkened version of #363b56 */
  --text-main-color: #ffffff; /* Darkened version of #363b56 */
  --sec-color: #4c566a; /* Darkened version of #97add9 */
  --pink-color: #9a4e54; /* Darkened version of #f2969c */
  --offWhite-color: #393836; /* Darkened version of #e2e1db */
  --gray-color: #292826; /* Darkened version of #e3e2dc */
}

/* width */
/* ::-webkit-scrollbar {
  width: 12px;
  border-radius: 50px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #f1f1f1;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: var(--main-color);
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */
